@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
.hidden {
  display: none !important;
}

.show {
  display: flex !important;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html,
body {
  min-height: 100%;
  min-width: 100%;
}

body {
  font-family: Barlow Semi Condensed;
  background: radial-gradient(circle, rgb(31, 55, 86) 13%, rgb(20, 21, 57) 100%);
  background-repeat: no-repeat;
}

header {
  display: flex;
  justify-content: center;
}
header .score-card {
  padding: 1rem;
  gap: 1rem;
  display: flex;
  border-radius: 5px;
  width: 50vw;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  margin: 2rem 0rem;
  outline: 2px solid hsl(217deg, 16%, 45%);
  text-transform: uppercase;
  font-weight: bold;
  align-items: center;
}
header .score-card img {
  margin-right: auto;
  max-width: 100%;
}
header .score-card__score {
  background-color: white;
  border-radius: inherit;
  padding: 1rem 2.5rem;
  text-align: center;
}
header .score-card__score span {
  display: block;
}
header .score-card__score__title {
  color: hsl(229deg, 64%, 46%);
  letter-spacing: 5px;
}
header .score-card__score__points {
  color: hsl(229deg, 25%, 31%);
  font-size: 3rem;
  opacity: 0.9;
}
@media screen and (max-width: 702px) {
  header .score-card {
    width: 80vw;
  }
}
@media screen and (max-width: 502px) {
  header .score-card {
    width: 90vw;
  }
}
@media screen and (max-width: 392px) {
  header .score-card img {
    width: 8rem;
  }
  header .score-card__score {
    padding: 1rem 1.5rem;
  }
  header .score-card__score__title {
    font-size: 0.5rem;
    letter-spacing: 3px;
  }
  header .score-card__score__points {
    font-size: 2rem;
  }
}

main .container-step1 {
  display: flex;
  justify-content: center;
  row-gap: 3rem;
  margin: 2rem;
  -moz-column-gap: 5rem;
       column-gap: 5rem;
  background-image: url(../images/bg-triangle.svg);
  background-repeat: no-repeat;
  background-position: center;
  flex-wrap: wrap;
  margin: auto;
  width: 29rem;
  padding: 1rem;
  background-size: 50%;
}
@media screen and (max-width: 463.5px) {
  main .container-step1 {
    width: 100vw;
  }
}
main .container-step1 .scissors {
  background: linear-gradient(hsl(39deg, 89%, 49%), hsl(40deg, 84%, 53%));
  padding: 1rem;
  border-radius: 100%;
}
main .container-step1 .scissors__game-component {
  background-color: white;
  border-radius: 100%;
  width: 9rem;
  height: 9rem;
  position: relative;
  cursor: pointer;
}
main .container-step1 .scissors__game-component img {
  max-width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@media screen and (max-width: 463.5px) {
  main .container-step1 .scissors__game-component {
    width: 6.5rem;
    height: 6.5rem;
  }
}
@media screen and (max-width: 426.5px) {
  main .container-step1 .scissors {
    padding: 0.8rem;
  }
  main .container-step1 .scissors__game-component {
    width: 5rem;
    height: 5rem;
  }
  main .container-step1 .scissors__game-component img {
    width: 2rem;
  }
}
@media screen and (max-width: 335.5px) {
  main .container-step1 .scissors {
    padding: 0.7rem;
  }
  main .container-step1 .scissors__game-component {
    width: 4rem;
    height: 4rem;
  }
}
main .container-step1 .paper {
  background: linear-gradient(hsl(230deg, 89%, 62%), hsl(230deg, 89%, 65%));
  padding: 1rem;
  border-radius: 100%;
}
main .container-step1 .paper__game-component {
  background-color: white;
  border-radius: 100%;
  width: 9rem;
  height: 9rem;
  position: relative;
  cursor: pointer;
}
main .container-step1 .paper__game-component img {
  max-width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@media screen and (max-width: 463.5px) {
  main .container-step1 .paper__game-component {
    width: 6.5rem;
    height: 6.5rem;
  }
}
@media screen and (max-width: 426.5px) {
  main .container-step1 .paper {
    padding: 0.8rem;
  }
  main .container-step1 .paper__game-component {
    width: 5rem;
    height: 5rem;
  }
  main .container-step1 .paper__game-component img {
    width: 2rem;
  }
}
@media screen and (max-width: 335.5px) {
  main .container-step1 .paper {
    padding: 0.7rem;
  }
  main .container-step1 .paper__game-component {
    width: 4rem;
    height: 4rem;
  }
}
main .container-step1 .rock {
  background: linear-gradient(hsl(349deg, 71%, 52%), hsl(349deg, 70%, 56%));
  padding: 1rem;
  border-radius: 100%;
}
main .container-step1 .rock__game-component {
  background-color: white;
  border-radius: 100%;
  width: 9rem;
  height: 9rem;
  position: relative;
  cursor: pointer;
}
main .container-step1 .rock__game-component img {
  max-width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@media screen and (max-width: 463.5px) {
  main .container-step1 .rock__game-component {
    width: 6.5rem;
    height: 6.5rem;
  }
}
@media screen and (max-width: 426.5px) {
  main .container-step1 .rock {
    padding: 0.8rem;
  }
  main .container-step1 .rock__game-component {
    width: 5rem;
    height: 5rem;
  }
  main .container-step1 .rock__game-component img {
    width: 2rem;
  }
}
@media screen and (max-width: 335.5px) {
  main .container-step1 .rock {
    padding: 0.7rem;
  }
  main .container-step1 .rock__game-component {
    width: 4rem;
    height: 4rem;
  }
}
main .container-step1 .lizard {
  background: linear-gradient(hsl(261deg, 73%, 60%), hsl(261deg, 72%, 63%));
  padding: 1rem;
  border-radius: 100%;
}
main .container-step1 .lizard__game-component {
  background-color: white;
  border-radius: 100%;
  width: 9rem;
  height: 9rem;
  position: relative;
  cursor: pointer;
}
main .container-step1 .lizard__game-component img {
  max-width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@media screen and (max-width: 463.5px) {
  main .container-step1 .lizard__game-component {
    width: 6.5rem;
    height: 6.5rem;
  }
}
@media screen and (max-width: 426.5px) {
  main .container-step1 .lizard {
    padding: 0.8rem;
  }
  main .container-step1 .lizard__game-component {
    width: 5rem;
    height: 5rem;
  }
  main .container-step1 .lizard__game-component img {
    width: 2rem;
  }
}
@media screen and (max-width: 335.5px) {
  main .container-step1 .lizard {
    padding: 0.7rem;
  }
  main .container-step1 .lizard__game-component {
    width: 4rem;
    height: 4rem;
  }
}
main .container-step1 .spock {
  background: linear-gradient(hsl(189deg, 59%, 53%), hsl(189deg, 58%, 57%));
  padding: 1rem;
  border-radius: 100%;
}
main .container-step1 .spock__game-component {
  background-color: white;
  border-radius: 100%;
  width: 9rem;
  height: 9rem;
  position: relative;
  cursor: pointer;
}
main .container-step1 .spock__game-component img {
  max-width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@media screen and (max-width: 463.5px) {
  main .container-step1 .spock__game-component {
    width: 6.5rem;
    height: 6.5rem;
  }
}
@media screen and (max-width: 426.5px) {
  main .container-step1 .spock {
    padding: 0.8rem;
  }
  main .container-step1 .spock__game-component {
    width: 5rem;
    height: 5rem;
  }
  main .container-step1 .spock__game-component img {
    width: 2rem;
  }
}
@media screen and (max-width: 335.5px) {
  main .container-step1 .spock {
    padding: 0.7rem;
  }
  main .container-step1 .spock__game-component {
    width: 4rem;
    height: 4rem;
  }
}
main .container-step2 {
  display: flex;
  gap: 5rem;
  justify-content: center;
  align-items: center;
  margin: 2rem;
}
main .container-step2 span {
  display: block;
  color: white;
  font-size: 1vw;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 3rem;
  text-align: center;
}
main .container-step2 .scissors {
  background: linear-gradient(hsl(39deg, 89%, 49%), hsl(40deg, 84%, 53%));
  padding: 1rem;
  border-radius: 100%;
}
main .container-step2 .scissors__game-component {
  background-color: white;
  border-radius: 100%;
  width: 9rem;
  height: 9rem;
  position: relative;
  cursor: pointer;
}
main .container-step2 .scissors__game-component img {
  max-width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@media screen and (max-width: 431.5px) {
  main .container-step2 .scissors {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
  main .container-step2 .scissors__game-component {
    width: 6.5rem;
    height: 6.5rem;
  }
}
main .container-step2 .paper {
  background: linear-gradient(hsl(230deg, 89%, 62%), hsl(230deg, 89%, 65%));
  padding: 1rem;
  border-radius: 100%;
}
main .container-step2 .paper__game-component {
  background-color: white;
  border-radius: 100%;
  width: 9rem;
  height: 9rem;
  position: relative;
  cursor: pointer;
}
main .container-step2 .paper__game-component img {
  max-width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@media screen and (max-width: 431.5px) {
  main .container-step2 .paper {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
  main .container-step2 .paper__game-component {
    width: 6.5rem;
    height: 6.5rem;
  }
}
main .container-step2 .rock {
  background: linear-gradient(hsl(349deg, 71%, 52%), hsl(349deg, 70%, 56%));
  padding: 1rem;
  border-radius: 100%;
}
main .container-step2 .rock__game-component {
  background-color: white;
  border-radius: 100%;
  width: 9rem;
  height: 9rem;
  position: relative;
  cursor: pointer;
}
main .container-step2 .rock__game-component img {
  max-width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@media screen and (max-width: 431.5px) {
  main .container-step2 .rock {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
  main .container-step2 .rock__game-component {
    width: 6.5rem;
    height: 6.5rem;
  }
}
main .container-step2 .lizard {
  background: linear-gradient(hsl(261deg, 73%, 60%), hsl(261deg, 72%, 63%));
  padding: 1rem;
  border-radius: 100%;
}
main .container-step2 .lizard__game-component {
  background-color: white;
  border-radius: 100%;
  width: 9rem;
  height: 9rem;
  position: relative;
  cursor: pointer;
}
main .container-step2 .lizard__game-component img {
  max-width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@media screen and (max-width: 431.5px) {
  main .container-step2 .lizard {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
  main .container-step2 .lizard__game-component {
    width: 6.5rem;
    height: 6.5rem;
  }
}
main .container-step2 .spock {
  background: linear-gradient(hsl(189deg, 59%, 53%), hsl(189deg, 58%, 57%));
  padding: 1rem;
  border-radius: 100%;
}
main .container-step2 .spock__game-component {
  background-color: white;
  border-radius: 100%;
  width: 9rem;
  height: 9rem;
  position: relative;
  cursor: pointer;
}
main .container-step2 .spock__game-component img {
  max-width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@media screen and (max-width: 431.5px) {
  main .container-step2 .spock {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
  main .container-step2 .spock__game-component {
    width: 6.5rem;
    height: 6.5rem;
  }
}

footer {
  display: flex;
  padding: 1.5rem;
}
footer .rules-button {
  margin-left: auto;
  border: 2px solid hsl(217deg, 16%, 45%);
  border-radius: 5px;
  padding: 0.5rem 1.5rem;
  text-transform: uppercase;
  letter-spacing: 3px;
  background-color: inherit;
  color: white;
  cursor: pointer;
}
@media screen and (max-width: 640px) {
  footer .rules-button {
    margin-right: auto;
  }
}/*# sourceMappingURL=index.css.map */