@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
//gradients
$border-colors: (
    "scissors": linear-gradient(hsl(39, 89%, 49%), hsl(40, 84%, 53%)),
    "paper": linear-gradient(hsl(230, 89%, 62%), hsl(230, 89%, 65%)),
    "rock": linear-gradient(hsl(349, 71%, 52%), hsl(349, 70%, 56%)),
    "lizard": linear-gradient(hsl(261, 73%, 60%), hsl(261, 72%, 63%)),
    "spock": linear-gradient(hsl(189, 59%, 53%), hsl(189, 58%, 57%)),
);
//colors
$dark-text: hsl(229, 25%, 31%);
$score-text: hsl(229, 64%, 46%);
$header-outline: hsl(217, 16%, 45%);

//background colors:

$bg-color: radial-gradient(circle, rgba(31, 55, 86, 1) 13%, rgba(20, 21, 57, 1) 100%);

//font

$font-barlow: Barlow Semi Condensed;

@mixin makeit($width) {
    @media screen and (max-width: $width) {
        @content;
    }
}
@mixin circle($cursor-type) {
    @each $class, $color in $border-colors {
        .#{$class} {
            @content;
            background: $color;
            padding: 1rem;
            border-radius: 100%;
            width: min-content;
            &__game-component {
                background-color: white;
                border-radius: 100%;
                width: 9rem;
                height: 9rem;
                position: relative;
                cursor: $cursor-type;
                img {
                    max-width: 100%;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                }
            }
            @include makeit(463.5px) {
                &__game-component {
                    width: 6.5rem;
                    height: 6.5rem;
                }
            }
            @include makeit(426.5px) {
                &__game-component {
                    width: 5rem;
                    height: 5rem;
                    img {
                        width: 2rem;
                    }
                }
                padding: 0.8rem;
            }
            @include makeit(335.5px) {
                &__game-component {
                    width: 4rem;
                    height: 4rem;
                }
                padding: 0.7rem;
            }
        }
    }
}
.hidden {
    display: none !important;
}
.show {
    display: flex !important;
}

@keyframes scaling {
    0% {
        transform: scale(0.2);
    }
    50% {
        transform: scale(0.6);
    }
    75% {
        transform: scale(0.8);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes drop {
    0% {
        top: -80%;
    }

    20% {
        top: 5%;
    }
    25% {
        top: 10%;
    }
    50% {
        top: 15%;
    }
    75% {
        top: 20%;
    }
    100% {
        top: 25%;
    }
}

@keyframes rotate{
    0% {
        transform: scale(0.2) rotate(180deg);
    }
    50% {
        transform: scale(0.6) rotate(90deg);
    }
    75% {
        transform: scale(0.8) rotate(45deg);
    }
    100% {
        transform: scale(1) rotate(0deg);
    }
}