@use "config" as *;
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html,
body {
    min-height: 100%;
    min-width: 100%;
}

body {
    font-family: $font-barlow;
    background: $bg-color;
    background-repeat: no-repeat;
}
//overlay
.overlay-backdrop {
    min-width: 100%;
    min-height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    position: fixed;
    z-index: 10;
}
.modal {
    background-color: white;
    position: absolute;
    z-index: 20;
    width: max-content;
    padding: 1.5rem;
    top: -25rem;
    bottom: auto;
    right: 0%;
    left: 0%;
    margin: auto;
    border-radius: 5px;
    &__header {
        text-transform: uppercase;
        display: flex;
        align-items: center;
        h2 {
            margin-right: auto;
        }
        &__img-container {
            cursor: pointer;
            img {
                vertical-align: middle;
            }
        }
    }
    & > img {
        margin-top: 1rem;
        @include makeit(352px) {
            width: 80vw;
        }
    }
    animation-name: drop;
    animation-timing-function: linear;
    animation-duration: 800ms;
    animation-delay: 200ms;
    animation-iteration-count: 1;
    animation-play-state: running;
    animation-fill-mode: both;
    animation-direction: alternate;
}
#root {
    position: relative;
    z-index: 5;
}
//header
header {
    display: flex;
    justify-content: center;
    .score-card {
        padding: 1rem;
        gap: 1rem;
        display: flex;
        border-radius: 5px;
        width: 50vw;
        height: max-content;
        margin: 2rem 0rem;
        outline: 2px solid $header-outline;
        text-transform: uppercase;
        font-weight: bold;
        align-items: center;
        img {
            margin-right: auto;
            max-width: 100%;
        }

        &__score {
            background-color: white;
            border-radius: inherit;
            padding: 1rem 2.5rem;
            text-align: center;
            span {
                display: block;
            }
            &__title {
                color: $score-text;
                letter-spacing: 5px;
            }
            &__points {
                color: $dark-text;
                font-size: 3rem;
                opacity: 0.9;
            }
        }
        @include makeit(702px) {
            width: 80vw;
        }
        @include makeit(502px) {
            width: 90vw;
        }
        @include makeit(392px) {
            img {
                width: 8rem;
            }
            &__score {
                padding: 1rem 1.5rem;
                &__title {
                    font-size: 0.5rem;
                    letter-spacing: 3px;
                }
                &__points {
                    font-size: 2rem;
                }
            }
        }
    }
}
//main
main {
    .container-step1 {
        display: flex;
        justify-content: center;
        row-gap: 3rem;
        margin: 2rem;
        column-gap: 5rem;
        background-image: url(../images/bg-triangle.svg);
        background-repeat: no-repeat;
        background-position: center;
        flex-wrap: wrap;
        margin: auto;
        width: 29rem;
        padding: 1rem;
        background-size: 50%;
        animation-name: rotate;
        animation-timing-function: linear;
        animation-duration: 800ms;
        animation-delay: 100ms;
        animation-iteration-count: 1;
        animation-play-state: running;
        animation-fill-mode: forwards;
        animation-direction: alternate;
        @include makeit(463.5px) {
            width: 100vw;
        }
        @include circle(pointer, $pass: false);
    }
    .container-step2 {
        display: flex;
        gap: 5rem;
        justify-content: center;
        align-items: center;
        margin: 2rem;
        &__col {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 2rem;
            span {
                display: block;
                color: white;
                font-size: clamp(0.7rem, 1rem, 1.5rem);
                white-space: nowrap;
                letter-spacing: 2px;
                text-transform: uppercase;
                font-weight: bold;
                text-align: center;
            }
            @include makeit(640px) {
                flex-direction: column-reverse;
                span {
                    font-size: clamp(3vw, 3.5vw, 4vw);
                }
            }
        }
        @include circle(auto, $pass: false) {
            position: absolute;
            top: 0px;
            bottom: 0px;
            right: 0px;
            left: 0px;
            transform: scale(0);
            margin: auto;
            animation-name: scaling;
            animation-timing-function: linear;
            animation-duration: 800ms;
            animation-delay: 100ms;
            animation-iteration-count: 1;
            animation-play-state: running;
            animation-fill-mode: forwards;
            animation-direction: alternate;
        }
    }
    .container-step3 {
        display: flex;
        margin: 2rem;
        justify-content: center;
        gap: 4rem;
        text-transform: uppercase;
        color: white;
        span {
            font-weight: bold;
        }
        &__col {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 2rem;
            span {
                display: block;
                color: white;
                font-size: clamp(0.7rem, 1rem, 1.5rem);
                white-space: nowrap;
                letter-spacing: 2px;
                text-align: center;
            }
            @include makeit(640px) {
                flex-direction: column-reverse;
                span {
                    font-size: clamp(3vw, 3.5vw, 4vw);
                }
            }
        }
        &__col-mid {
            margin: auto 0rem;
            span {
                display: block;
                font-size: clamp(2rem, 2.5rem, 3rem);
                text-align: center;
            }
            button {
                margin-top: 1rem;
                width: 100%;
                padding: 0.5rem 2rem;
                border-radius: 5px;
                border: none;
                outline: none;
                white-space: nowrap;
                font-family: inherit;
                text-transform: inherit;
                color: $dark-text;
                font-weight: 550;
                letter-spacing: 2px;
                cursor: pointer;
            }
            @include makeit(699.5px) {
                span {
                    font-size: 1.8rem;
                }
                button {
                    padding: 0.5rem 1rem;
                }
            }
        }
        @include circle(auto, $pass: true) using ($class) {
            &.win {
                animation-name: shadow-animation-#{$class};
                animation-timing-function: ease;
                animation-duration: 1s;
                animation-delay: 100ms;
                animation-iteration-count: infinite;
                animation-play-state: running;
                animation-fill-mode: forwards;
                animation-direction: alternate;
            }
        }
        @include makeit(640px) {
            position: relative;
            height: 50vw;
            margin-bottom: 9rem;
            &__col-mid {
                position: absolute;
                bottom: -8rem;
                span {
                    font-size: clamp(2rem, 2.5rem, 3rem);
                }
                button {
                    padding: 0.5rem 2rem;
                }
            }
        }
        @include makeit(463.5px){
            &__col-mid {
            span {
                    font-size: 1.8rem;
                }
                button {
                    padding: 0.5rem 1rem;
                }
            }
        }
    }
}
.placeholder {
    position: relative;
    padding: 1rem;
    &__img {
        background-color: rgba(20, 21, 57, 1);
        opacity: 0.4;
        border-radius: 100%;
        width: 9rem;
        height: 9rem;
        animation-name: scaling;
        animation-timing-function: linear;
        animation-duration: 800ms;
        animation-delay: 100ms;
        animation-iteration-count: infinite;
        animation-play-state: running;
        animation-fill-mode: forwards;
        animation-direction: alternate;
    }
    @include makeit(463.5px) {
        &__img {
            width: 6.5rem;
            height: 6.5rem;
        }
    }
    @include makeit(426.5px) {
        &__img {
            width: 5rem;
            height: 5rem;
        }
        padding: 0.8rem;
    }
    @include makeit(335.5px) {
        &__img {
            width: 4rem;
            height: 4rem;
        }
        padding: 0.7rem;
    }
}
//footer
footer {
    display: flex;
    padding: 1.5rem;
    .rules-button {
        margin-left: auto;
        border: 2px solid $header-outline;
        border-radius: 5px;
        padding: 0.5rem 1.5rem;
        text-transform: uppercase;
        letter-spacing: 3px;
        background-color: inherit;
        color: white;
        cursor: pointer;
        font-family: inherit;
        @include makeit(640px) {
            margin-right: auto;
        }
    }
}
